{{ partial "header.html" . }}

<div class="content container">
  <h1>Archives</h1>

  {{ with .Site.GetPage "section" "posts" }}
    {{ range .Data.Pages.GroupByDate "2006" }}
    {{ $pages_len := len .Pages }}
    {{ $hidden_pages_len := where .Pages ".Params.tags" "intersect" site.Params.hiddenTags | len }}
    {{if ne $pages_len $hidden_pages_len }}
    <section>
      <h2>{{ .Key }}</h2>
      <ul>
        {{ range .Pages}}
        {{ $should_show := intersect .Params.tags site.Params.hiddenTags | len | eq 0 }}
          {{ if $should_show }}
          <li><a href="{{ .Permalink }}" class="permalink">{{ .Title }}</a></li>
          {{ end }}
        {{ end }}
      </ul>
    </section>
    {{end}}
    {{ end }}
  {{ end }}

</div>

{{ partial "footer.html" . }}