<div class="content">
  <h1>{{ title .Data.Term  }} posts</h1>

  {{ range first 8 (where .Pages ".Params.tags" "intersect" .Site.Params.homeTags )}}
  {{ $should_show := intersect .Params.tags site.Params.hiddenTags | len | eq 0 }}
  {{ if $should_show }}
  {{ if eq .Type "posts" }}
      <p>
      <aside>{{ .Date.Format "January 2, 2006"}}</aside>
      <a href="{{ .Permalink }}" style="color:black;">{{ .Title }} 
        <span style="display:block;font-size:0.8rem;color: #262626;margin-top: 0.25rem;">
          {{ if gt (len .Summary) 100 }}
          {{slicestr .Summary 0 100}} ...
          {{ else }}
          {{ .Summary }} 
          {{ end }}
        </span>
      </a>{{ if .Draft }} <span style="color:#FF4136;">(unpublished)</span>{{ end }}
      </p>
  {{ end }}
  {{ end }}
  {{ end }}
</div>